@font-face {
  font-family: "Noto Sans TC";
  src: url("../src/assets/fonts/Noto_Serif_TC/NotoSansTC-Black.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif TC";
  src: url("../src/assets/fonts/NotoSerifTC-Black.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  margin: 0 auto;
  text-align: center;
  background-color: #121110;
  font-family: "Noto Sans TC";
  font-style: normal;
  box-sizing: border-box;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
}
